body {
    height: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

#user-details{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#profile-n-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    height: 35px;
    width: 35px;
    border-radius: 50%; /* Make the image round */
}

p {
    font-size: 18px;
}

.logout {
    color: white;
    text-decoration: none;
    background-color: #1a237e;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #263238;
}

main {
    display: flex;
    /* justify-content: space-around; */
}

section{
    background-color: aqua;
    width: 70%;
}
aside {
    padding: 10px 12px;
    background-color: #ccc;
    width: 30%;
}

/* Style the form container */
.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
/* Style the input field */
#content {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    /* Blue color */
    color: #fff;
    /* White text color */
    cursor: pointer;
}

/* Change submit button color on hover */
.form-container input[type="submit"]:hover {
    background-color: #0056b3;
    /* Darker blue color */
}

ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 20px;
}

.content-to-commentform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-n-delete{
    display: flex;
    align-items: center;
}
.user-name{
    font-size: smaller; /* Adjust font size */
}

.like-n-comment{
    display: flex;
    align-items: center;
}
.comments{
    display: flex;
    align-items: center;
}
.comments p {
    font-size: xx-small;
}

.comment-like-button,.delete-comment{
    font-size: xx-small;
}

a {
    color: #007bff; /* Default link color */
    text-decoration: none; /* Remove underline by default */
}